/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

body {
  /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
  -webkit-backface-visibility: hidden; }

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px); }
  100% {
    opacity: 1;
    -o-transform: translateY(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05); }
  70% {
    -webkit-transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1); } }

@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.3); }
  50% {
    opacity: 1;
    -moz-transform: scale(1.05); }
  70% {
    -moz-transform: scale(0.9); }
  100% {
    -moz-transform: scale(1); } }

@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -o-transform: scale(0.3); }
  50% {
    opacity: 1;
    -o-transform: scale(1.05); }
  70% {
    -o-transform: scale(0.9); }
  100% {
    -o-transform: scale(1); } }

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3); }
  50% {
    opacity: 1;
    transform: scale(1.05); }
  70% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

.bounceIn {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn; }

@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px); }
  100% {
    -webkit-transform: translateX(0); } }

@-moz-keyframes slideInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px); }
  100% {
    -moz-transform: translateX(0); } }

@-o-keyframes slideInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-2000px); }
  100% {
    -o-transform: translateX(0); } }

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px); }
  100% {
    transform: translateX(0); } }

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  -moz-animation-name: slideInLeft;
  -o-animation-name: slideInLeft;
  animation-name: slideInLeft; }

@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px); }
  100% {
    -webkit-transform: translateX(0); } }

@-moz-keyframes slideInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px); }
  100% {
    -moz-transform: translateX(0); } }

@-o-keyframes slideInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(2000px); }
  100% {
    -o-transform: translateX(0); } }

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px); }
  100% {
    transform: translateX(0); } }

.slideInRight {
  -webkit-animation-name: slideInRight;
  -moz-animation-name: slideInRight;
  -o-animation-name: slideInRight;
  animation-name: slideInRight; }

html, body {
  height: 100%; }

.bold {
  font-weight: bold; }

.link {
  color: #7ba221;
  border-bottom: 1px solid #7ba221; }

body {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.2;
  background-color: #fff; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

ul, ol {
  list-style-type: none; }

.blur {
  transition: .5s; }

.blur--active {
  filter: blur(8px);
  -webkit-filter: blur(8px); }
  .blur--active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
    background-color: rgba(0, 0, 0, 0.3); }

.page {
  padding-top: 135px; }
  @media (max-width: 1023px) {
    .page {
      padding-top: 118px; } }
  @media (max-width: 767px) {
    .page {
      padding-top: 56px; } }

.hidden {
  opacity: 0; }

.visible {
  opacity: 1; }

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  background-color: #fff; }

.slideout-menu-left {
  left: 0; }

.slideout-menu-right {
  right: 0; }

.slideout-panel {
  position: relative;
  z-index: 1;
  background-color: #FFF;
  /* A background-color is required */
  min-height: 100vh; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block; }

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  width: 35px;
  height: 3px;
  border-radius: 0px !important; }

.hamburger {
  padding: 0px !important; }

.menu__mobile {
  display: none; }
  @media (max-width: 767px) {
    .menu__mobile {
      display: block; } }

.menu__mobile__title {
  color: #fff;
  float: right;
  padding-left: 0px;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 13px; }

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  width: 28px !important;
  height: 3px !important;
  background-color: #621d08 !important; }

.hamburger-inner:before {
  top: -9px !important; }

.hamburger--collapse.is-active .hamburger-inner:before {
  top: 0px !important; }

.hamburger--collapse .hamburger-inner:after {
  top: -18px !important; }

.hamburger-box {
  height: 21px !important;
  width: 28px !important; }

.hamburger--collapse.is-active .hamburger-box {
  top: 3px; }

a {
  text-decoration: none;
  color: #0ba4db;
  transition: 0.3s; }

button {
  outline: none; }

.icon__svg {
  fill: #6dd9ff;
  transition: 0.3s; }
  .icon__svg:hover {
    fill: #fff; }

.container {
  width: 1280px;
  margin: 0px auto; }
  @media (max-width: 1400px) {
    .container {
      width: 100%; } }

.content {
  margin-top: 60px;
  margin-bottom: 60px; }

.flex {
  display: flex;
  padding: 0px 60px; }
  @media (max-width: 1023px) {
    .flex {
      padding: 0px 30px; } }
  @media (max-width: 767px) {
    .flex {
      padding: 0px 20px; } }

@media (max-width: 1023px) {
  .full-product {
    display: flex; } }

@media (max-width: 767px) {
  .full-product {
    flex-direction: column; } }

.description {
  margin-top: 60px; }
  @media (max-width: 1023px) {
    .description {
      margin-top: 40px; } }
  @media (max-width: 767px) {
    .description {
      margin-top: 25px; } }

.description p {
  font-family: 'Arial';
  font-size: 16px;
  color: #fff;
  margin: 0px;
  margin-bottom: 20px; }
  .description p:last-child {
    margin-bottom: 0px; }
  @media (max-width: 1023px) {
    .description p {
      font-size: 14px;
      margin-bottom: 15px; } }
  @media (max-width: 767px) {
    .description p {
      font-size: 12px; } }

      @media (max-width: 1023px) {
        .slider {
          margin-bottom: 25px; } }
      
      @media (max-width: 767px) {
        .slider {
          margin-bottom: 0px; } }
      
      .slider__wrapper {
        position: relative; }
  .slider__box {
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media (max-width: 1023px) {
      .slider__box {
        height: 350px; } }
    @media (max-width: 767px) {
      .slider__box {
        height: 250px; } }
  .slider__img {
    width: 100%; }
  .slider__navigation {
    width: 100%;
    top: calc(50% - 25px);
    left: 0;
    position: absolute;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    padding: 0px 60px; }
    @media (max-width: 1023px) {
      .slider__navigation {
        padding: 0px 30px; } }
        @media (max-width: 767px) {
          .slider__navigation {
            top: calc(50% - 15px);
            padding: 0px 0px;
            display: none; } }
  .slider__dots {
    position: absolute;
    bottom: 30px;
    left: 0;
    padding: 0px 60px;
    width: 100%;
    display: flex;
    z-index: 20; }
    @media (max-width: 1023px) {
      .slider__dots {
        padding: 0px 30px; } }
        @media (max-width: 767px) {
          .slider__dots {
            padding: 0px 20px;
            bottom: 20px;
            display: none; } }
  .slider .owl-dot {
    background: none;
    outline: none;
    border: none;
    width: 12px;
    height: 12px;
    background-color: #00B38B;
    display: inline-block;
    margin-right: 12px;
    border-radius: 50%;
    transition: .3s; }
    .slider .owl-dot.active {
      background-color: #6BFBCE; }
    .slider .owl-dot:last-child {
      margin-right: 0px; }
    .slider .owl-dot:hover {
      background-color: #6BFBCE; }
    @media (max-width: 767px) {
      .slider .owl-dot {
        margin-right: 6px; } }
  .slider .owl-prev, .slider .owl-next {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    margin: 0; }
  .slider svg {
    width: 50px;
    height: 50px;
    fill: #00B38B;
    transition: .3s; }
    .slider svg:hover {
      cursor: pointer;
      fill: #007D59; }
    @media (max-width: 767px) {
      .slider svg {
        width: 30px;
        height: 30px; } }

.owl-dots {
  position: relative;
  bottom: 0px;
  justify-content: center;
  display: flex;
  width: 200px;
  margin: 0 auto;
  padding-top: 30px; }

.top {
  padding-top: 25px;
  padding-bottom: 25px; }
  @media (max-width: 767px) {
    .top {
      padding-top: 15px;
      padding-bottom: 15px; } }
  .top__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .top__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%; }
    @media (max-width: 1379px) {
      .top__left {
        width: 56%; } }
    @media (max-width: 1199px) {
      .top__left {
        width: 65%; } }
    @media (max-width: 1023px) {
      .top__left {
        width: 70%; } }
    @media (max-width: 767px) {
      .top__left {
        width: auto; } }
  @media (max-width: 767px) {
    .top__right {
      display: none; } }
  .top__logo {
    display: flex; }
  .top__menu {
    display: flex;
    justify-content: space-between;
    width: 60%; }
    @media (max-width: 1199px) {
      .top__menu {
        width: 65%; } }
    @media (max-width: 767px) {
      .top__menu {
        display: none; } }
  .top__link {
    font-family: 'Bebas Neue';
    font-size: 18px;
    color: #353535;
    transition: .3s; }
    .top__link--active {
      color: #1c3f94; }
    .top__link:hover {
      color: #1c3f94; }
    @media (max-width: 1023px) {
      .top__link {
        font-size: 16px; } }
  .top__phone {
    font-family: 'Bebas Neue';
    font-size: 24px;
    color: #353535;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 18px;
    background-image: url(./images/phone.svg);
    padding-left: 35px; }
    @media (max-width: 1023px) {
      .top__phone {
        font-size: 20px;
        background-size: 14px;
        padding-left: 25px; } }
  .top__mobile {
    display: none; }
    @media (max-width: 767px) {
      .top__mobile {
        display: flex; } }
  @media (max-width: 767px) {
    .top__img {
      height: 35px; } }
  .top__tel {
    margin-right: 14px; }
  .top svg {
    width: 18px;
    height: 18px;
    fill: #1c3f94; }
  .top__hamburger {
    cursor: pointer; }
  .top__hamburger--active .top__gp span:first-child {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg); }
  .top__hamburger--active .top__gp span:nth-child(2) {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }
  .top__hamburger--active .top__gp span:last-child {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg); }
  .top__gp span {
    width: 26px;
    background-color: #353535;
    display: block;
    height: 2px;
    margin-bottom: 6px;
    transition: .3s; }
    .top__gp span:last-child {
      margin-bottom: 0px; }

.product {
  padding: 0px 60px;
  padding-top: 60px;
  padding-bottom: 60px; }
  @media (max-width: 1023px) {
    .product {
      padding: 0px 30px;
      padding-top: 60px;
      padding-bottom: 60px;
      width: 33.33333%; } }
  @media (max-width: 767px) {
    .product {
      width: 100%;
      padding: 0px 20px;
      padding-top: 40px;
      padding-bottom: 40px; } }
  .product__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .product__box {
    width: calc(33.33333% - 20px);
    box-shadow: 0px 0px 15px 2px rgba(35, 35, 35, 0.2);
    padding: 25px 20px;
    position: relative;
    transition: .3s; }
    .product__box:hover {
      cursor: pointer; }
    .product__box--active::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 30;
      border: 40px solid transparent;
      border-bottom: 40px solid #344f94;
      left: calc(50% - 40px);
      bottom: -62px; }
      @media (max-width: 1023px) {
        .product__box--active::after {
          border: 30px solid transparent;
          border-right: 30px solid #344f94;
          bottom: calc(50% - 30px);
          left: auto;
          right: -32px; } }
      @media (max-width: 767px) {
        .product__box--active::after {
          top: 15px;
          bottom: auto;
          left: 20px;
          border: 0 solid #344f94;
          border-width: 0 6px 6px 0;
          -webkit-transform: rotateZ(45deg);
          width: 16px;
          height: 30px; } }
    @media (max-width: 1023px) {
      .product__box {
        padding: 20px;
        width: 100%;
        margin-bottom: 30px; }
        .product__box:last-child {
          margin-bottom: 0px; } }
  .product__link {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; }
  .product__img {
    width: 100%; }
  .product__bottom {
    text-align: center; }
  .product__name {
    font-family: 'Bebas Neue';
    font-size: 24px;
    font-weight: bold;
    color: #353535;
    text-transform: uppercase;
    transition: .3s; }
    .product__name:hover {
      cursor: pointer;
      color: #1c3f94; }
    @media (max-width: 1023px) {
      .product__name {
        font-size: 20px; } }

.subproduct {
  padding: 0px 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #344f94;
  display: none; }
  .subproduct--active {
    display: block; }
  @media (max-width: 1023px) {
    .subproduct {
      width: 66.66666%;
      padding: 0px 30px;
      padding-top: 60px;
      padding-bottom: 60px; } }
  @media (max-width: 767px) {
    .subproduct {
      width: 100%;
      padding: 0px 20px;
      padding-top: 40px;
      padding-bottom: 40px; } }
  .subproduct__top {
    position: relative; }
  .subproduct__list {
    width: calc(100% - 200px);
    margin: 0 auto;
    z-index: 30; }
    @media (max-width: 1023px) {
      .subproduct__list {
        width: calc(100% - 100px); } }
    @media (max-width: 767px) {
      .subproduct__list {
        width: calc(100% - 80px); } }
  .subproduct__box {
    padding: 25px 20px;
    background-color: #fff; }
    @media (max-width: 1023px) {
      .subproduct__box {
        padding: 20px 15px; } }
  .subproduct__link {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; }
  .subproduct__img {
    width: 100%; }
  .subproduct__bottom {
    text-align: center; }
  .subproduct__name {
    font-family: 'Bebas Neue';
    font-size: 20px;
    font-weight: bold;
    color: #353535;
    text-transform: uppercase;
    transition: .3s; }
    .subproduct__name:hover {
      color: #1c3f94; }
    @media (max-width: 1023px) {
      .subproduct__name {
        font-size: 18px; } }
  .subproduct .owl-prev, .subproduct .owl-next {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    margin: 0; }
  .subproduct svg {
    width: 50px;
    height: 50px;
    fill: #00B38B;
    transition: .3s; }
    .subproduct svg:hover {
      cursor: pointer;
      fill: #007D59; }
    @media (max-width: 1023px) {
      .subproduct svg {
        width: 40px;
        height: 40px; } }
    @media (max-width: 767px) {
      .subproduct svg {
        width: 30px;
        height: 30px; } }
  .subproduct__navigation {
    width: 100%;
    top: calc(50% - 25px);
    left: 0;
    position: absolute;
    z-index: 20;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1023px) {
      .subproduct__navigation {
        top: calc(50% - 20px); } }
    @media (max-width: 767px) {
      .subproduct__navigation {
        top: calc(50% - 15px); } }

.property {
  margin-top: 60px; }
  @media (max-width: 1023px) {
    .property {
      margin-top: 40px; } }
  @media (max-width: 767px) {
    .property {
      margin-top: 30px; } }
  .property__title {
    font-family: 'Bebas Neue';
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 40px; }
    @media (max-width: 1023px) {
      .property__title {
        font-size: 34px;
        margin-bottom: 30px; } }
    @media (max-width: 767px) {
      .property__title {
        font-size: 28px;
        margin-bottom: 25px; } }
  .property__list {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 767px) {
      .property__list {
        flex-direction: column; } }
  .property__box {
    width: calc(33.33333% - 20px);
    text-align: center; }
    @media (max-width: 1023px) {
      .property__box {
        width: calc(33.33333% - 10px); } }
    @media (max-width: 767px) {
      .property__box {
        width: 100%;
        margin-bottom: 20px; }
        .property__box:last-child {
          margin-bottom: 0px; } }
  .property__top {
    margin-bottom: 20px; }
    @media (max-width: 767px) {
      .property__top {
        margin-bottom: 15px; } }
  .property__img {
    width: 80px; }
    @media (max-width: 1023px) {
      .property__img {
        width: 60px; } }
    @media (max-width: 767px) {
      .property__img {
        width: 45px; } }
  .property__bottom {
    max-width: 260px;
    margin: 0 auto; }
  .property__name {
    font-family: 'Bebas Neue';
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 15px; }
    @media (max-width: 1023px) {
      .property__name {
        font-size: 18px; } }
  .property__desc {
    font-family: 'Arial';
    font-size: 14px;
    color: #fff; }
    @media (max-width: 1023px) {
      .property__desc {
        font-size: 12px; } }

.footer {
  padding-top: 40px;
  padding-bottom: 40px; }
  .footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .footer__top {
        flex-direction: column; } }
  .footer__logo {
    display: flex; }
    @media (max-width: 767px) {
      .footer__logo {
        margin-bottom: 20px; } }
  .footer__left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 1379px) {
      .footer__left {
        width: 56%; } }
    @media (max-width: 1199px) {
      .footer__left {
        width: 65%; } }
    @media (max-width: 1023px) {
      .footer__left {
        width: 70%; } }
    @media (max-width: 767px) {
      .footer__left {
        width: auto;
        flex-direction: column; } }
  .footer__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%; }
    @media (max-width: 1199px) {
      .footer__menu {
        width: 65%; } }
    @media (max-width: 767px) {
      .footer__menu {
        width: auto;
        flex-direction: column;
        margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .footer__box {
      margin-bottom: 10px; }
      .footer__box:last-child {
        margin-bottom: 0px; } }
  .footer__link {
    font-family: 'Bebas Neue';
    font-size: 18px;
    color: #353535;
    transition: .3s; }
    .footer__link--active {
      color: #1c3f94; }
    .footer__link:hover {
      color: #1c3f94; }
    @media (max-width: 1023px) {
      .footer__link {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .footer__link {
        font-size: 20px; } }
  .footer__phone {
    font-family: 'Bebas Neue';
    font-size: 24px;
    color: #353535;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 18px;
    background-image: url(./images/phone.svg);
    padding-left: 35px; }
    @media (max-width: 1023px) {
      .footer__phone {
        font-size: 20px;
        background-size: 14px;
        padding-left: 25px; } }
  .footer__bottom {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .footer__bottom {
        flex-direction: column;
        margin-top: 20px; } }
  .footer__rights {
    font-family: 'Arial';
    color: #353535;
    font-size: 14px; }
    @media (max-width: 1023px) {
      .footer__rights {
        font-size: 12px; } }
  .footer__politics {
    font-family: 'Arial';
    color: #353535;
    font-size: 14px;
    border-bottom: 1px solid #353535;
    transition: .3s; }
    .footer__politics:hover {
      cursor: pointer;
      color: #1c3f94;
      border-color: #1c3f94; }
    @media (max-width: 1023px) {
      .footer__politics {
        font-size: 12px; } }